.meet {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 280px;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  top: 4000px;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out; 
}
 
.meet .mail {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.meet .mail svg {
  stroke: #003152;
  stroke-width: 3px;
}

.meet .mail svg:hover {
  stroke: #96d0f9;
}

.meet .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid #003152;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.meet .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.meet .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.meet .bottom3 {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #003152;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.meet .bottom3 .content3 {
  position: absolute;
  bottom: 5px;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.meet .bottom3 .content3 .name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.meet .bottom3 .content3 .about-me {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.meet .bottom3 .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meet .bottom3 .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.meet .bottom3 .bottom-bottom .social-links-container svg {
  height: 20px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.meet .bottom3 .bottom-bottom .social-links-container svg:hover {
  fill: #003152;
  transform: scale(1.2);
}

.meet .bottom3 .bottom-bottom .button {
  background: white;
  color: #003152;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.meet .bottom3 .bottom-bottom .button:hover {
  background: #003152;
  color: white;
}

.meet:hover {
  border-top-left-radius: 55px;
}

.meet:hover .bottom3 {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.meet:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 0;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #003152;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.meet:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.meet:hover .profile-pic img {
  transform: scale(1.3);
  -o-object-position: cover;
  object-position: cover;
  transition: all 0.5s ease-in-out 0.5s;
}

.meet:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}
