@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Serif+Display:ital@1&family=Kanit:wght@300;400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montagu+Slab:opsz,wght@16..144,500&family=Pixelify+Sans:wght@700&family=Space+Grotesk:wght@300..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Serif+Display:ital@1&family=Inter:wght@100..900&family=Kanit:wght@300;400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montagu+Slab:opsz,wght@16..144,500&family=Pixelify+Sans:wght@700&family=Space+Grotesk:wght@300..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

.banner {
    width: 100%;
    height: 35px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-right, .navbar-left {
    padding: 10px 20px;
    display: flex;
    position: absolute;
    top: -1%;
}

.navbar-left {
    left: -3%;
}

.navbar-right {
    right: 32%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 40%;
}

.nav-links li a::after {
    content: '';
    position: absolute; 
    bottom: -3px; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: #07344f; 
    transition: width 0.3s;
    border-radius: 5px;
}

.nav-links li a:hover::after {
    width: 100%; 
}

.nav-links li.logo {
    margin-left: auto;
    margin-right: auto;
}

.nav-links li.logo + li {
    margin-right: 20px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    position: relative; 
}

.nav-links li:not(.english) a {
    color: #07344f;
}

.nav-links .english a {
    color: rgb(235, 136, 49); 
}


.nav-links li:not(.english) a:hover {
    color: rgb(235, 136, 49);
}

.logo img {
  margin-top: 15px;
  width: 80px;
  height: auto;
  position: relative;
  left: 47%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.hamburger {
    position: absolute;
    top: -5px; 
    right: 10px;
    cursor: pointer;
    z-index: 2;
}
  
.hamburger input {
    display: none;
}
  
.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed; /* Fixed position to stay on the screen */
    top: -5px;
    right: 10px; /* Align to the top-right corner of the screen */
    z-index: 2;
}
  
.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.line-top-bottom {
    stroke-dasharray: 12 63;
}
  
.hamburger input:checked + svg {
    transform: rotate(-45deg);
}
  
.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    z-index: 1;
    transition: right 0.5s ease-in-out;
}
  
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; 
}
  
.menu li {
    margin: 20px 0;
}
  
.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
  
.hamburger input:checked ~ .menu {
    right: 0;
}

  
  /* Add this rule to align the image beside the services image */
  .image {
      position: absolute;
      top: 140px;
      left: 65%;
      transition: transform 0.3s ease; /* Add a smooth transition effect */
  }
  
  .image:hover {
      transform: scale(1.1); /* Slightly zoom in effect on hover */
  }
  
  .collaboration {
      position: absolute;
      left: 50%; /* Center horizontally */
      top: 160%;
      color: #000000;
      font-size: 30px;
      text-decoration: none;
      transform: translateX(-50%); /* Adjust for centering */
  }
  
  
    
  .collaboration::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%; /* Center the line */
      bottom: -50px;
      width: 50%; /* Set the width of the line to half of the element's width */
      height: 7px;
      background-color: #00718A;
      transform: translateX(-50%); /* Adjust the line to be centered */
  }
  
  .paragraph {
      font-size: 20px;
      position: absolute;
      top: 180%;
      text-align: center;
      margin-left: 10%;
  }
  
.keys ,.keys1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

.keys img {
    width: 20%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */ 
    position: relative;
    top: 430px;
}

.keys1 img {
    width: 20%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */ 
    position: relative;
    top: 450px;
}

.keys2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    position: relative;
    top: 450px;
}

.heading1{
    text-align: center;
    position: relative;
    top: 600px;
    font-size: 30px;
}

.cards{
    background-color: #EFF6F7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 670px;
}

.card1,
.card2,
.card3 {
    width: 25%;
    transition: transform 0.3s ease; 
   
}

.card1:hover, .card2:hover, .card3:hover {
    transform: translateY(-15px); /* Hover effect to move card up */
  }


.keys img:hover,.keys1 img:hover ,.keys2:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
  
  @media screen and (max-width: 320px){
    .banner{
        width: 100%;
    }

    .banner-text{
        font-size: 8px;
        position: absolute;
    }

    .nav-links{
        display: none;
    }

    .english{
        display: none;
    }
    
 
    .logo img {
       width: 12%;
       height: auto;
       position: absolute;
       top: 25px; 
       left: 0;
    }
  

    .services{
        position: relative;
        top: 50px;
        width: 100%;
    }

    .image{
        position: absolute;
        top: 1px;
        left: 65%;
    }  

    .collaboration{
        position: relative;
        top: 60px;
        text-align: center;
        color: #000000;
        font-size: 12px;
        text-decoration: none;
    }

    .collaboration::after {
        content: '';
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        bottom: -10px;
        width: 20%; /* Set the width of the line to half of the element's width */
        height: 2px;
        background-color: #00718A;
    }
  
    .paragraph {
        font-size: 10px;
        position: relative;
        top: 80px;
        text-align: center;
        justify-content: center;
        margin-right: 55px;
        margin-left: 55px;
    }

}


@media screen and (min-width: 321px) and (max-width: 600px){

    .banner{
        width: 100%;
    }

    .banner-text{
        font-size: 8px;
        position: absolute;
    }

    .nav-links{
        display: none;
    }

    .english{
        display: none;
    }
    
     .logo img {
       width: 11%;
       height: auto;
       position: absolute;
       top: 25px; 
       left: 0;
    }

    
    .services{
        position: relative;
        top: 100px;
        width: 100%;
    }

    .image{
        position: absolute;
        top: 1px;
        left: 65%;
         height: auto;
    }  

    .key{
        position: relative;
        top: 70px;
    }

    .collaboration{
        position: relative;
        top: 60px;
        text-align: center;
        color: #000000;
        font-size: 13px;
        text-decoration: none;
    }

    .collaboration::after {
        content: '';
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        bottom: -10px;
        width: 11%; 
        height: 4px;
        background-color: #00718A;
    }
  
    .paragraph {
        font-size: 13px;
        position: relative;
        top: 80px;
        text-align: center;
        justify-content: center;
        margin-right: 55px;
        margin-left: 55px;
    }
   
}

@media screen and (min-width: 601px) and (max-width: 820px) {
    .banner{
        width: 100%;
    }

    .banner-text{
        font-size: 8px;
        position: absolute;
    }

    .nav-links{
        display: none;
    }

    .english{
        display: none;
    }
    
     .logo img {
       width: 11%;
       height: auto;
       position: absolute;
       top: 25px; 
       left: 0;
    }

    
    .services{
        position: relative;
        top: 100px;
        width: 100%;
    }

    .image{
        position: absolute;
        top: 1px;
        left: 65%;
         height: auto;
    }  

    .key{
        position: relative;
        top: 70px;
    }

    .collaboration{
        position: relative;
        top: 60px;
        text-align: center;
        color: #000000;
        font-size: 13px;
        text-decoration: none;
    }

    .collaboration::after {
        content: '';
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        bottom: -10px;
        width: 11%; 
        height: 4px;
        background-color: #00718A;
    }
  
    .paragraph {
        font-size: 13px;
        position: relative;
        top: 80px;
        text-align: center;
        justify-content: center;
        margin-right: 55px;
        margin-left: 55px;
    }
   
}


@media screen and (min-width: 821px) and (max-width: 997px){
    .banner{
        width: 100%;
    }

    .banner-text{
        font-size: 11px;
        position: absolute;
    }

    .navbar-right, .navbar-left {
        padding: 10px 20px;
        display: flex;
        position: absolute;
        top: 5%;
        font-size: 14px;
    }
    
    .navbar-left {
        left: -3%;
    }
    
    .navbar-right {
        right: 20%;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
    }
    
    .nav-links li {
        margin: 20%;
    }

    .services{
        position: relative;
        top: 10px;
        width: 100%;
    }

    .image{
        position: absolute;
        top: 1px;
        left: 65%;
        height: 100%;
    }  

    .key{
        position: relative;
        top: 70px;
    }

    .collaboration{
        position: relative;
        top: 60px;
        text-align: center;
        color: #000000;
        font-size: 30px;
        text-decoration: none;
    }

    .collaboration::after {
        content: '';
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        bottom: -10px;
        width: 11%; 
        height: 4px;
        background-color: #00718A;
    }
  
    .paragraph {
        font-size: 20px;
        position: relative;
        top: 80px;
        text-align: center;
        justify-content: center;
        margin-right: 55px;
        margin-left: 55px;
    }

}

@media screen and (min-width: 997px) and (max-width: 1200px) {
    .banner{
        width: 100%;
    }

    .banner-text{
        font-size: 11px;
        position: absolute;
    }

    
    .services{
        position: relative;
        top: 20px;
        width: 100%;
    }

    .image{
        position: absolute;
        top: 1px;
        left: 65%;
         height: auto;
    }  

    .key{
        position: relative;
        top: 70px;
    }

    .collaboration{
        position: relative;
        top: 30px;
        text-align: center;
        color: #000000;
        font-size: 30px;
        text-decoration: none;
    }

    .collaboration::after {
        content: '';
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        bottom: -20px;
        width: 11%; 
        height: 7px;
        background-color: #00718A;
    }
  
    .paragraph {
        font-size: 20px;
        position: relative;
        top: 80px;
        text-align: center;
        justify-content: center;
        margin-right: 55px;
        margin-left: 55px;
    }
}


